@main: #a5d6e8;
@main-gray: lightgray;

@font-face {
    font-family: 'betterCallSaul';
    src: url('../src/script1scriptcasualnormal.ttf') format('truetype');
}

button:focus {outline:0;}

.login .intro-animation {
  width: 90%;
  height: calc(~'100% - 378px');
  display: flex;
  justify-content: center;
  border: solid 3px @main;
  margin: 40px auto;
}

.login .intro-animation img {
  position: relative;
  margin: auto;
}

.login .login-form {
  width: 340px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
}

.login button {
  border: solid 3px @main-gray;
  padding: 15px;
  background: none;
  color: #a5d6e8;
  width: 150px;
  font-size: 13px;
  height: 50px;
}

.login .active {
  background: @main;
  border: solid 3px @main;
  color: white;
}

.login .login-form button:hover {
  background: @main;
  border: solid 3px @main;
  color: white;
  cursor: pointer;
}

.login form {
  width: 340px;
  margin: auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: @main !important;
}

.login form input[type="text"], .login form input[type="password"] {
  width: 100%;
  border: solid 3px @main;
  padding: 15px;
  background: white;
  color: @main;
  margin-bottom: 20px;
}

.login .sub {
  display: flex;
  justify-content: space-between;
}

.login form button, .login form a {
  font-size: 23px;
  color: #a5d6e8;
  text-decoration: none;
  text-align: center;
  font-family: 'betterCallSaul';
  padding: 12px;
  border: solid 3px @main-gray;
  width: 100px;
  height: 47px;
}

.login form button p {
  margin-top: -5px;
  margin-left: -5px;
}

.login form button:hover, .login form a:hover {
  border: solid 3px @main;
  cursor: pointer;
}

.login .left-side {
  width: 340px;
  float: left;
  margin-left: 5%;
}

.login .right-side {
  width: calc(~'90% - 380px');
  margin-left: 40px;
  margin-right: 5%;
  height: 258px;
  display: flex;
  float: right;
  border: solid 3px @main;
}

.login .right-side img {
  margin: auto;
}

.dashboard .navBar {
  padding: 20px;
  border: solid 3px @main;
  margin: 60px 60px 40px 60px;
  height: 84px;
}

.dashboard .navBar .left-side {
  float: left;
  margin-left: 30px;
  color: @main;
  font-family: 'betterCallSaul';
  font-size: 40px;
}

.dashboard .navBar .right-side {
  float: right;
  display: flex;
  justify-content: space-around;
  width: 250px;
  height: 100%;
}

.dashboard .navBar .right-side button {
  width: 70px;
  border: none;
  background: white;
}

.dashboard .navBar .right-side button:hover {
  cursor: pointer;
}

.dashboard .navBar .right-side button img {
  margin-top: -10px;
}

.dashboard .navBar .right-side a {
  width: 50px;
}

.dashboard .navBar .right-side a img {
  margin-top: -5px;
}

.dashboard .options {
  height: calc(~'100% - 184px');
}

.dashboard .options .half {
  font-family: 'betterCallSaul';
  font-size: 50px;
  color: @main;
  display: flex;
  width: calc(~'100% - 120px');
  margin: auto;
  justify-content: space-between;
  height: 50%;
}

.dashboard .options .half h1 {
  width: calc(~'50% - 20px');
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: solid 3px @main-gray;
}

.dashboard .options .half h1:hover {
  border: solid 3px @main;
  cursor: pointer;
}

.dashboard .options .full {
  font-family: 'betterCallSaul';
  width: calc(~'100% - 120px');
  font-size: 50px;
  color: @main;
  margin: auto;
  height: 50%;
}

.dashboard .options .full h1 {
  border: solid 3px @main-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(~'100% - 60px');
  margin-bottom: 60px;
}

.dashboard .options .full h1:hover {
  border: solid 3px @main;
  cursor: pointer;
}
