<section class="income">
  <div class="washer" ng-repeat="income in incomes">
    <p>{{income.source}}</p>
  </div>
  <div class="addwasher" ng-click="openModal()">
    <div class="plus-sign">
      <div class="tall-part"></div>
      <div class="long-part"></div>
      <div class="center-part-1"></div>
      <div class="center-part-2"></div>
    </div>
  </div>
  <div class="income-summary">
    <table class="table-header">
      <tr>
        <th>Item</th>
        <th>Bi-Weekly</th>
        <th>Monthly</th>
        <th>Yearly</th>
      </tr>
    </table>
    <table>
      <tr class="header-row">
        <td class="table-subHeader">Total Gross Income</td>
        <td class="table-subHeader"><span>$</span> 0.00</td>
        <td class="table-subHeader"><span>$</span> 0.00</td>
        <td class="table-subHeader"><span>$</span> 0.00</td>
      </tr>
    </table>
    <table>
      <tr class="header-row">
        <td class="table-subHeader">Pre-Tax Deductions</td>
        <td class="table-subHeader"></td>
        <td class="table-subHeader"></td>
        <td class="table-subHeader"></td>
      </tr>
      <tr class="first-row table-row">
        <td>401k</td>
        <td><span>$</span> 0.00</td>
        <td><span>$</span> 0.00</td>
        <td><span>$</span> 0.00</td>
      </tr>
      <tr class="table-row">
        <td class="table-total">After Deductions</td>
        <td class="table-total"><span>$</span> 0.00</td>
        <td class="table-total"><span>$</span> 0.00</td>
        <td class="table-total"><span>$</span> 0.00</td>
      </tr>
    </table>
    <table>
      <tr class="header-row">
        <td class="table-subHeader">Taxes</td>
        <td class="table-subHeader"></td>
        <td class="table-subHeader"></td>
        <td class="table-subHeader"></td>
      </tr>
      <tr class="first-row table-row">
        <td>Federal</td>
        <td><span>$</span> 0.00</td>
        <td><span>$</span> 0.00</td>
        <td><span>$</span> 0.00</td>
      </tr>
      <tr class="table-row">
        <td>FICA</td>
        <td><span>$</span> 0.00</td>
        <td><span>$</span> 0.00</td>
        <td><span>$</span> 0.00</td>
      </tr>
      <tr class="table-row">
        <td>State</td>
        <td><span>$</span> 0.00</td>
        <td><span>$</span> 0.00</td>
        <td><span>$</span> 0.00</td>
      </tr>
      <tr class="table-row">
        <td>Local</td>
        <td><span>$</span> 0.00</td>
        <td><span>$</span> 0.00</td>
        <td><span>$</span> 0.00</td>
      </tr>
      <tr class="table-row">
        <td class="table-total">Net Income</td>
        <td class="table-total"><span>$</span> 0.00</td>
        <td class="table-total"><span>$</span> 0.00</td>
        <td class="table-total"><span>$</span> 0.00</td>
      </tr>
    </table>
  </div>
  <div class="form-modal" ng-click="closeModal($event)">
    <div class="modal-content">
      <span class="close" ng-click="closeModal($event)">&times;</span>
      <table>
        <tr>
          <td><p>Income Source:</p></td>
          <td><input ng-model="source" type="text" placeholder="who is paying you?" /></td>
        </tr>
        <tr>
          <td><p>Amount:</p></td>
          <td>
            <input ng-model="amount" class="medium-input" type="text" placeholder="what is your wage?" />
            <select ng-model="period" class="short-select">
              <option value="hourly">/Hr</option>
              <option value="yearly">/Yr</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><p>Next Paycheck:</p></td>
          <td><input ng-model="next" type="date" /></td>
        </tr>
        <tr>
          <td><p>Paycheck Pattern:</p></td>
          <td>
            <select id="certainDaysSelect" ng-model="item" ng-change="toggleCertainDays(item)">
              <option value="weekly">Weekly</option>
              <option value="bi-weekly">Bi-Weekly</option>
              <option value="days">Certain Days</option>
            </select>
            <input ng-model="days" id="certainDaysInput" class="short-select" type="text" placeholder="ex: 5,20" />
          </td>
        </tr>
        <tr>
          <td><p>Pre-Tax Deductions:</p></td>
          <td>
            <input ng-model="deduction" class="medium-input" type="text" placeholder="ex: 401k" />
            <input ng-model="percent" class="short-select" type="text" placeholder="%" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td><button ng-click="addIncome(source, amount, period, next, item, days, deduction, percent)">Add New Income</button></td>
        </tr>
      </table>
    </div>
  </div>
</section>
