<section class="upload">
  <input id="inputButton" type="file" accept=".csv" upload />
  <h1 onclick="document.getElementById('inputButton').click();">Select CSV</h1>
</section>
<div class="form-modal" ng-click="closeModal($event)">
  <div class="modal-content">
    <span class="close" ng-click="closeModal($event)">&times;</span>
    <div class="exp-details">
      <p>{{exp.description}}</p>
      <p>{{exp.date}}</p>
      <p>{{exp.amount}}</p>
    </div>
    <div class="exp-actions">
      <select ng-options="exp-cat in exp-categories"></select>
      <input type="text" placeholder="new category" />
      <select ng-options="exp-sub in exp-subcategories"></select>
      <input type="text" placeholder="new subcategory" />
      <input type="text" placeholder="bind to keyword" />
      <input type="checkbox" /> remember keyword
    </div>
  </div>
</div>
