<section class="projections">
  <table>
    <tr>
      <th>{{currentYear}}</th>
      <th>January</th>
      <th>February</th>
      <th>March</th>
      <th>April</th>
      <th>May</th>
      <th>June</th>
      <th>July</th>
      <th>August</th>
      <th>September</th>
      <th>October</th>
      <th>November</th>
      <th>December</th>
    </tr>
    <tr>
      <td>Income</td>
      <td>${{projections.income.January | currency:""}}</td>
      <td>${{projections.income.February | currency:""}}</td>
      <td>${{projections.income.March | currency:""}}</td>
      <td>${{projections.income.April | currency:""}}</td>
      <td>${{projections.income.May | currency:""}}</td>
      <td>${{projections.income.June | currency:""}}</td>
      <td>${{projections.income.July | currency:""}}</td>
      <td>${{projections.income.August | currency:""}}</td>
      <td>${{projections.income.September | currency:""}}</td>
      <td>${{projections.income.October | currency:""}}</td>
      <td>${{projections.income.November | currency:""}}</td>
      <td>${{projections.income.December | currency:""}}</td>
    </tr>
    <tr ng-repeat="projLoan in projLoans">
      <td>{{projLoan.category}}</td>
      <td>${{projections[projLoan.category].January | currency:""}}</td>
      <td>${{projections[projLoan.category].February | currency:""}}</td>
      <td>${{projections[projLoan.category].March | currency:""}}</td>
      <td>${{projections[projLoan.category].April | currency:""}}</td>
      <td>${{projections[projLoan.category].May | currency:""}}</td>
      <td>${{projections[projLoan.category].June | currency:""}}</td>
      <td>${{projections[projLoan.category].July | currency:""}}</td>
      <td>${{projections[projLoan.category].August | currency:""}}</td>
      <td>${{projections[projLoan.category].September | currency:""}}</td>
      <td>${{projections[projLoan.category].October | currency:""}}</td>
      <td>${{projections[projLoan.category].November | currency:""}}</td>
      <td>${{projections[projLoan.category].December | currency:""}}</td>
    </tr>
    <tr ng-repeat="(key, value) in projections.projExps">
      <td>{{key}}</td>
      <td>${{projections.projExps[key][0] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][1] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][2] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][3] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][4] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][5] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][6] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][7] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][8] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][9] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][10] | makePos | currency:""}}</td>
      <td>${{projections.projExps[key][11] | makePos | currency:""}}</td>
    </tr>
    <tr>
      <td>Left Over</td>
      <td>${{projections.leftOver.January | currency:""}}</td>
      <td>${{projections.leftOver.February | currency:""}}</td>
      <td>${{projections.leftOver.March | currency:""}}</td>
      <td>${{projections.leftOver.April | currency:""}}</td>
      <td>${{projections.leftOver.May | currency:""}}</td>
      <td>${{projections.leftOver.June | currency:""}}</td>
      <td>${{projections.leftOver.July | currency:""}}</td>
      <td>${{projections.leftOver.August | currency:""}}</td>
      <td>${{projections.leftOver.September | currency:""}}</td>
      <td>${{projections.leftOver.October | currency:""}}</td>
      <td>${{projections.leftOver.November | currency:""}}</td>
      <td>${{projections.leftOver.December | currency:""}}</td>
    </tr>
  </table>
</section>
