<section class="income">
  <div class="washer">
    <div class="plus-sign">
      <div class="tall-part"></div>
      <div class="long-part"></div>
      <div class="center-part-1"></div>
      <div class="center-part-2"></div>
    </div>
  </div>
  <div class="income-summary">
    <table>
      <tr>
        <th>Item</th>
        <th>Bi-Weekly</th>
        <th>Monthly</th>
        <th>Yearly</th>
      </tr>
      <tr>
        <td class="table-subHeader">Total Gross Income</td>
        <td class="table-subHeader">$ 1,346.15</td>
        <td class="table-subHeader">$ 2,916.67</td>
        <td class="table-subHeader">$ 35,000.00</td>
      </tr>
      <tr>
        <td class="table-subHeader">Pre-Tax Deductions</td>
        <td class="table-subHeader"></td>
        <td class="table-subHeader"></td>
        <td class="table-subHeader"></td>
      </tr>
      <tr>
        <td>401k</td>
        <td>$ 67.31</td>
        <td>$ 145.83</td>
        <td>$ 1,750.00</td>
      </tr>
      <tr>
        <td class="table-total">After Deductions</td>
        <td class="table-total">$ 1,278.84</td>
        <td class="table-total">$ 2,770.84</td>
        <td class="table-total">$ 33,250.00</td>
      </tr>
      <tr>
        <td class="table-subHeader">Taxes</td>
        <td class="table-subHeader"></td>
        <td class="table-subHeader"></td>
        <td class="table-subHeader"></td>
      </tr>
      <tr>
        <td>Social Security</td>
        <td>$ 82.65</td>
        <td>$ 179.08</td>
        <td>$ 2,149.00</td>
      </tr>
      <tr>
        <td>Medicare</td>
        <td>$ 19.38</td>
        <td>$ 42.00</td>
        <td>$ 504.00</td>
      </tr>
      <tr>
        <td>Withholding</td>
        <td>$ 140.81</td>
        <td>$ 305.08</td>
        <td>$ 3,661.00</td>
      </tr>
      <tr>
        <td>State Tax</td>
        <td>$ 61.52</td>
        <td>$ 133.29</td>
        <td>$ 1,599.50</td>
      </tr>
      <tr>
        <td class="table-total">Net Income</td>
        <td class="table-total">$ 974.47</td>
        <td class="table-total">$ 2,111.38</td>
        <td class="table-total">$ 27,086.50</td>
      </tr>
    </table>
  </div>
</section>
