<main class="login">
  <section class="intro-animation">
    <img src="../src/WM.jpg" />
    <video id="vid2" autoplay loop>
      <source src="../src/WM.mp4" type="video/mp4">
    </video>
    <video id="vid3">
      <source src="../src/WM.mp4" type="video/mp4">
    </video>
    <img src="../src/WM.jpg" />
  </section>
  <section class="left-side">
    <div class="login-form">
      <button class="active" ng-click="toggleActive($event)">Sign In</button>
      <button ng-click="toggleActive($event)">Sign Up</button>
    </div>
    <form ng-submit="loginLocal(username, password, first, last)">
      <input class="signUpForm inputForm" type="text" name"first" placeholder="first name" ng-model="first" />
      <input class="signUpForm inputForm" type="text" name="last" placeholder="last name" ng-model="last" />
      <input class="inputForm" type="text" name="username" placeholder="username" ng-model="username" />
      <input class="inputForm" type="password" name="password" placeholder="password" ng-model="password" />
      <div class="sub">
        <button type="submit"><p>Log In</p></button>
        <a href="auth/fb"><p>Fb</p></a>
        <a href="auth/google"><p>G+</p></a>
      </div>
    </form>
  </section>
  <section class="right-side">
    <img src="../src/temp2.png" />
  </section>
</main>
