<main class="login">
  <section class="intro-animation">
    <!--http://fontmeme.com/better-call-saul-font/-->
    <img src="../src/temp.png" />
  </section>
  <section class="left-side">
    <div class="login-form">
      <button class="active" ng-click="toggleActive($event)">Sign In</button>
      <button ng-click="toggleActive($event)">Sign Up</button>
    </div>
    <form ng-submit="loginLocal(username, password)">
      <input type="text" name="username" placeholder="username" ng-model="username" />
      <input type="password" name="password" placeholder="password" ng-model="password" />
      <div class="sub">
        <button type="submit"><p>Log In</p></button>
        <a href="auth/fb"><p>Fb</p></a>
        <a href="auth/google"><p>G+</p></a>
      </div>
    </form>
  </section>
  <section class="right-side">
    <img src="../src/temp2.png" />
  </section>
</main>
